.app {
  text-align: center;
}

.app-layout{
  display: flex;
  flex: 1;
  flex-flow: row nowrap
}

.app-content-container{
  display: flex;
  flex: 1;
  flex-flow: column nowrap
}

.sidenav{
  background: teal;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  width: 70px;
  overflow-x: hidden;
  transition: all 0.5s ease-in-out;
}

.sidenav.expanded{
  width: 200px;
}

.sidenav .sidenav-route .sidenav-route-label{
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.sidenav.expanded .sidenav-route .sidenav-route-label{
  opacity: 100;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
